:host ::ng-deep .logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .logo h1 {
    color: #fff;
    font-size: 16px;
    margin: 0 0 0 8px;
    font-family: Myriad Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 600;
    display: inline-block;
  }
  
  .logo img {
    height: 30px;
    margin-left: -15px;
    display: inline-block;
    vertical-align: middle;
  }
  
  :host ::ng-deep .ant-layout-sider-collapsed .nav-text {
    display: none;
  }
  
  :host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
    display: none;
  }
  
  :host ::ng-deep .ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-left: 8px;
  }
  :host ::ng-deep .ant-layout-sider,
  :host ::ng-deep .ant-menu-dark,
  :host ::ng-deep .ant-menu-dark .ant-menu-sub,
  :host ::ng-deep .ant-layout-sider-trigger {
    background: #001529;
  }
  
  :host ::ng-deep .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #000c17;
  }
  
  :host ::ng-deep .ant-menu-vertical .ant-menu-item,
  :host ::ng-deep .ant-menu-inline .ant-menu-item,
  :host ::ng-deep .ant-menu-vertical .ant-menu-submenu-title,
  :host ::ng-deep .ant-menu-inline .ant-menu-submenu-title {
    font-size: 16px;
  }
  
  .tuxiang {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
  }
  
  .content {
    margin-top: 64px;
    padding: 5px 15px;
    background:#fff;
    border-top: 1px solid #eee;
  }
  