<nz-layout>
  <nz-sider [nzWidth]='182' nzCollapsible [(nzCollapsed)]="isCollapsed" style="overflow: auto; height: 100vh; position: fixed; left: 0">
    <div class="logo">
      <img src="../assets/zxc.png" alt="">
      <h1>东钱湖单车驿站</h1>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">订单管理</span></span>
        <ul>
          <li nz-menu-item>
            <a routerLink="/oreders/app-will-payment">待付押金<nz-badge [nzCount]="5" [nzStyle]="style1"></nz-badge></a>
          </li>
          <li nz-menu-item>
            <a routerLink="/oreders/app-will-completed">待完成<nz-badge [nzCount]="12" [nzStyle]="style1"></nz-badge></a>
          </li>
          <li nz-menu-item>
            <a routerLink="/oreders/app-completed">已完成</a>
          </li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">套餐管理</span></span>
        <ul>
          <li nz-menu-item routerLink="/tao-can/add-tc">新增套餐</li>
          <li nz-menu-item routerLink="/tao-can/list-tc">套餐列表</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">驿站管理</span></span>
        <ul>
          <li nz-menu-item routerLink="/station/add">添加驿站</li>
          <li nz-menu-item routerLink="/station/list">驿站列表</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">推荐路线</span></span>
        <ul>
          <li nz-menu-item routerLink="/suggest-route/add">添加路线</li>
          <li nz-menu-item routerLink="/suggest-route/list">路线列表</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">骑车注意事项</span></span>
        <ul>
          <li nz-menu-item routerLink="/matters/add">添加注意事项</li>
          <li nz-menu-item routerLink="/matters/list">注意事项列表</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">发现</span></span>
        <ul>
          <li nz-menu-item routerLink="/discover/add">投放广告</li>
          <li nz-menu-item routerLink="/discover/list">广告列表</li>
          <li nz-menu-item routerLink="/discover/add-red-packet">添加红包</li>
          <li nz-menu-item routerLink="/discover/red-packet-list">红包列表</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">车辆管理</span></span>
        <ul>
          <li nz-menu-item routerLink="/vehicle-manages/add">车辆录入</li>
          <li nz-menu-item routerLink="/vehicle-manages/list">车辆追踪</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">用户信息</span></span>
        <ul>
          <li nz-menu-item routerLink="/user/list">用户列表</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout [ngStyle]="{'margin-left': isCollapsed ? '64px' : '182px'}">
    <nz-header style="background: #fff;height:64px; position: fixed; right: 0px" [ngStyle]="{'left': isCollapsed ? '64px' : '182px'}">
      <nz-avatar class="tuxiang" [nzText]="'老王'" nzSize="large" [ngStyle]="{'background-color': '#7265e6'}"></nz-avatar>
    </nz-header>
    <nz-content class='content'>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
<app-bmap>宁波</app-bmap>
