<nz-layout>
  <nz-sider [nzWidth]='256' nzCollapsible [(nzCollapsed)]="isCollapsed" style="overflow: auto; height: 100vh; position: fixed; left: 0">
    <div class="logo">
      <img src="../assets/zxc.png" alt="">
      <h1>东钱湖单车驿站</h1>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">订单管理</span></span>
        <ul>
          <li nz-menu-item>待付款</li>
          <li nz-menu-item>待退押金</li>
          <li nz-menu-item>虚拟订单</li>
          <li nz-menu-item>已完成</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">租车套餐</span></span>
        <ul>
          <li nz-menu-item>套餐管理</li>
          <li nz-menu-item>红包</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">基本录入</span></span>
        <ul>
          <li nz-menu-item>驿站</li>
          <li nz-menu-item>推荐路线</li>
          <li nz-menu-item>骑车注意事项</li>
          <li nz-menu-item>发现</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">车辆管理</span></span>
        <ul>
          <li nz-menu-item>车辆录入</li>
          <li nz-menu-item>车辆追踪</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">用户信息</span></span>
        <ul>
          <li nz-menu-item>用户列表</li>
          <li nz-menu-item>短信通知</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout [ngStyle]="{'margin-left': isCollapsed ? '64px' : '256px'}">
    <nz-header style="background: #fff;height:64px; position: fixed; right: 0px" [ngStyle]="{'left': isCollapsed ? '64px' : '256px'}">
      <nz-badge [nzCount]="25"></nz-badge><i class="anticon anticon-down-circle-o"></i>
    </nz-header>
    <nz-content style="margin-top: 64px; padding: 5px 15px">
      <div style="background: #eee;">
        ...
        <br />
        Really
        <br />...<br />...<br />...<br />
        long
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />
        content
        ...
        <br />
        Really
        <br />...<br />...<br />...<br />
        long
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />
        content
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
