<div class="baidu-map-bg" [@transformState]="transformState" (click)="toggleState()"></div>
<div class="baidu-map" [@transformState]="transformState">
    <div class="header">
        添加位置信息
        <button nz-button nzType="default" nzShape="circle" (click)="toggleState()" ><i class="anticon anticon-close"></i></button>
    </div>
    <div class="bmap-context">
        <div class="seach-save">
            <div class="save">
                <button nz-button nzType="primary">保存</button>
            </div>
            <div class="seach">
                <nz-input-group nzSuffixIcon="anticon anticon-search">
                    <input id='autocomplete' type="text" nz-ty nz-size="large" nz-input placeholder="输入地址名称" #autocomplete>
                </nz-input-group> 
            </div>
        </div>
    <div [ngClass]="className" [id]="id" #map></div>
    </div>
</div>
