<!-- Create the editor container -->
<div id="toolbar">
  <select class="ql-header">
    <option value="1">Heading</option>
    <option value="2">Subheading</option>
    <option selected>Normal</option>
  </select>
  <span class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-list" value="ordered"></button>
    <button class="ql-list" value="bullet"></button>
    <select class="ql-align">
      <option label="left" selected></option>
      <option label="center" value="center"></option>
      <option label="right" value="right"></option>
      <option label="justify" value="justify"></option>
    </select>
    <span class="ql-formats">
      <button class="ql-link"></button>
      <button class="ql-image"></button>
      <button class="ql-video"></button>
    </span>
  </span>
</div>
<div id="editor" style="height: 500px;">
  
</div>
